<h1>User#dashboard</h1>
<p>Find me in app/views/user/dashboard.html.erb</p>



<!--Some tmp links to make life ez-->


<%= link_to "create listing", new_listing_path %>



<div>
  <% @my_listings.each do |l| %>
    <br>
    <%= l.name %>
    <%= l.created_at %>
    <%= link_to "Delete Listing", delete_listing_path(l.id) %>
  <% end %>
</div>