.top-nav {
  display: flex;
  color: azure;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 70px;
  padding: 10px 0 0 10px;
  background-color: green;

  #avatar {
    img {
      width: 60px;
      border-radius: 10px;
    }

  }

  .top-nav-link {
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
  }
  #user-nav {
    font-size: 0.8rem;
    color: azure;
  }

}




