<div class="welcome">
    <h1>Welcome to CodeMP</h1>
    <h2>The #1 Marketplace for Code!</h2>
    <br/>
</div>
<div class="listings">
    <% @new_listings.each do |i| %>
    <% if i.alive %>
    <div class="listing-info">
    <%= link_to  "image", show_id_path(i.id), class: "listing-img"%>
    <%= content_tag 'span', "Name #{i.name}", class: "listing-name" %>
    <%= content_tag 'span', "Price $#{i.price.round(2)}" , class: "listing-price" %>
    </div>
    <% end %>
    <% end %>
</div>