@import "parts/nav";
@import "parts/all-listings";
@import "parts/single_listing";

*,
html {
  margin: 0;
  padding: 0;
}

#errors {
  display: block;
  z-index: 100;
  position: absolute;
  background-color: rgba(153,153,153, 0.9);
  color: white;
  text-align: center;
  margin-top: 75px;
  right: 10px;
}

#dash_splash {
  width: 100vw;
}

.field {
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 15px;
}

.actions {
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 15px;
}

#links_devise {
  display: block;
  //flex-wrap: wrap;
  margin: auto;
  text-align: center;
  padding-top: 15px;
}