@import "parts/nav";
@import "parts/all-listings";


*,html {
  margin: 0;
  padding: 0;
}

#errors {
  display: block;
  z-index: 100;
  position: absolute;
  background-color: gray;
  color: aquamarine;
  text-align: center;
  margin-top: 200px;
}

